/target/
/.idea/
.idea/UHCMeetup.iml/
/.gradle/
/.build/
.bui
*.class
*.keystream
build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
*.len
*.tab_i
*.tab
*.at
*.s
*.bin
*.values
build/libs/UHCMeetup-1.0-SNAPSHOT-all.jar
build/libs/UHCMeetup-1.0-SNAPSHOT.jar
build/kotlin/UHCMeetup10SNAPSHOTjar-classes.txt
build/classes/kotlin/main/META-INF/UHCMeetup.kotlin_module
build/resources/main/config.yml
build/resources/main/lang.yml
build/resources/main/plugin.yml
build/resources/main/scoreboard.yml
build/resources/main/kit.yml
build/resources/main/settings.yml
*.yml
*.MF
